<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.shoppingmall.buy.BuyMapper">
    <insert id="insBuy">
        INSERT INTO t_buy
        SET iproduct = #{iproduct}
        , icustomer = #{icustomer}
        , quantity = #{quantity}
        , buy_at = current_timestamp()
    </insert>

    <select id="selBuy">
        SELECT A.ibuy, A.iproduct, A.icustomer
        , A.quantity, A.buy_at buyAt
        , B.nm productNm, B.price productPrice
        , B.main_pic productMainPic
        , C.nm customerNm
        FROM t_buy A
        INNER JOIN t_product B
        ON A.iproduct = B.iproduct
        INNER JOIN t_customer C
        ON A.icustomer = C.icustomer
        WHERE A.icustomer = #{icustomer}
        ORDER BY ibuy DESC
    </select>
</mapper>