<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.shoppingmall.review.ReviewMapper">
    <resultMap id="reviewVo" type="ReviewVo">
        <id property="ireview" column="ireview" />
        <association property="pics" column="ireview" select="selReviewPic" />
    </resultMap>

    <insert id="insReview" useGeneratedKeys="true" keyProperty="ireview">
        INSERT INTO t_review
        SET ibuy = #{ibuy}
        , ctnt = #{ctnt}
        , star = #{star}
    </insert>

    <insert id="insReviewPics">
        INSERT INTO t_review_pic
        ( ireview, pic )
        VALUES
        <foreach collection="pics" item="item" separator=",">
            ( #{ireview}, #{item} )
        </foreach>
    </insert>

    <select id="selReview" resultMap="reviewVo">
        SELECT
        B.ireview, B.star, B.created_at createdAt, B.ctnt
        , C.nm productNm
        , D.nm buyerNm
        FROM t_buy A
        INNER JOIN t_review B
        ON A.ibuy = B.ibuy
        INNER JOIN t_product C
        ON A.iproduct = C.iproduct
        INNER JOIN t_customer D
        ON A.icustomer = D.icustomer
        WHERE A.iproduct = #{iproduct}
    </select>

    <select id="selReviewPic" resultType="String">
        SELECT pic FROM t_review_pic
        WHERE ireview = #{ireview}
    </select>
</mapper>